# Машинное обучение, ФКН ВШЭ

## Практическое задание 1

### Общая информация
Дата выдачи: 06.09.2019  

Мягкий дедлайн: 23:59MSK 15.09.2019 (за каждый день просрочки снимается 1 балл)

Жесткий дедлайн: 23:59MSK 17.09.2019

### О задании

Задание состоит из двух разделов, посвященных работе с табличными данными с помощью библиотеки pandas и визуализации с помощью matplotlib. В каждом разделе вам предлагается выполнить несколько заданий. Баллы даются за выполнение отдельных пунктов. Задачи в рамках одного раздела рекомендуется решать в том порядке, в котором они даны в задании.

Задание направлено на освоение jupyter notebook (будет использоваться в дальнейших заданиях), библиотекам pandas и matplotlib.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить работу на указанных в ответном письме условиях.

Задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов (подробнее о плагиате см. на странице курса). Если вы нашли решение какого-то из заданий (или его часть) в открытом источнике, необходимо указать ссылку на этот источник в отдельном блоке в конце вашей работы (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник).

### Формат сдачи
Задания сдаются через систему Anytask. Инвайт можно найти на странице курса. Присылать необходимо ноутбук с выполненным заданием. 

Для удобства проверки самостоятельно посчитайте свою максимальную оценку (исходя из набора решенных задач) и укажите ниже.

Оценка: xx.

## 0. Введение

Сейчас мы находимся в jupyter-ноутбуке (или ipython-ноутбуке). Это удобная среда для написания кода, проведения экспериментов, изучения данных, построения визуализаций и других нужд, не связанных с написаем production-кода. 

Ноутбук состоит из ячеек, каждая из которых может быть либо ячейкой с кодом, либо ячейкой с текстом размеченным и неразмеченным. Текст поддерживает markdown-разметку и формулы в Latex.

Для работы с содержимым ячейки используется *режим редактирования* (*Edit mode*, включается нажатием клавиши **Enter** после выбора ячейки), а для навигации между ячейками искользуется *командный режим* (*Command mode*, включается нажатием клавиши **Esc**). Тип ячейки можно задать в командном режиме либо с помощью горячих клавиш (**y** to code, **m** to markdown, **r** to edit raw text), либо в меню *Cell -> Cell type*. 

После заполнения ячейки нужно нажать *Shift + Enter*, эта команда обработает содержимое ячейки: проинтерпретирует код или сверстает размеченный текст.

In [1]:
# ячейка с кодом, при выполнении которой появится output
2 + 2

4

А это ___ячейка с текстом___.

Ячейка с неразмеченыным текстом.

Попробуйте создать свои ячейки, написать какой-нибудь код и текст какой-нибудь формулой.

In [2]:
def greetings():
    return 'Hello, world!'

greetings()

'Hello, world!'

Equation:
$e=mc^2$

[Здесь](https://athena.brynmawr.edu/jupyter/hub/dblank/public/Jupyter%20Notebook%20Users%20Manual.ipynb) находится <s>не</s>большая заметка о используемом языке разметки Markdown. Он позволяет:

0. Составлять упорядоченные списки
1. #Делать 
##заголовки 
###разного уровня
3. Выделять *текст* <s>при</s> **необходимости**
4. Добавлять [ссылки](http://imgs.xkcd.com/comics/the_universal_label.png)


* Составлять неупорядоченные списки

Делать вставки с помощью LaTex:
    
$
\left\{
\begin{array}{ll}
x = 16 \sin^3 (t) \\ 
y = 13 \cos (t) - 5 \cos (2t) - 2 \cos (3t) - \cos (4t) \\
t \in [0, 2 \pi]
\end{array}
\right.$

А ещё можно вставлять картинки:
<img src="https://st2.depositphotos.com/1177973/9266/i/950/depositphotos_92668716-stock-photo-red-cat-with-computer-keyboard.jpg" style="width: 400px">

## 1. Табличные данные и Pandas

Pandas — удобная библиотека для работы с табличными данными в Python, если данных не слишком много и они помещаются в оперативную память вашего компьютера. Несмотря на неэффективность реализации и некоторые проблемы, библиотека стала стандартом в анализе данных. С этой библиотекой мы сейчас и познакомимся.

Основной объект в pandas это DataFrame, представляющий собой таблицу с именованными колонками различных типов, индексом (может быть многоуровневым). DataFrame можно создавать, считывая таблицу из файла или задавая вручную из других объектов.

В этой части потребуется выполнить несколько небольших заданий. Можно пойти двумя путями: сначала изучить материалы, а потом приступить к заданиям, или же разбираться "по ходу". Выбирайте сами.

Материалы:
1. [Pandas за 10 минут из официального руководства](http://pandas.pydata.org/pandas-docs/stable/10min.html)
2. [Документация](http://pandas.pydata.org/pandas-docs/stable/index.html) (стоит обращаться, если не понятно, как вызывать конкретный метод)
3. [Примеры использования функционала](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)

Многие из заданий можно выполнить несколькими способами. Не существуют единственно верного, но попробуйте максимально задействовать арсенал pandas и ориентируйтесь на простоту и понятность вашего кода. Мы не будем подсказывать, что нужно использовать для решения конкретной задачи, попробуйте находить необходимый функционал сами (название метода чаще всего очевидно). В помощь вам документация, поиск и stackoverflow.

In [386]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [387]:
# Magic function for importing modules
%pylab inline
# import almost all we need
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

Данные можно скачать [отсюда](https://www.dropbox.com/s/5qq94wzmbw4e54r/data.csv?dl=0).

#### 1. [0.5 баллов] Откройте файл с таблицей (не забудьте про её формат). Выведите последние 10 строк.

Посмотрите на данные и скажите, что они из себя представляют, сколько в таблице строк, какие столбцы?

In [388]:
# Read the table.
dataframe = pd.read_csv('data.csv')

In [389]:
# Let's look at the table by displaying several random rows.
dataframe.sample(5, random_state=1)

,order_id,quantity,item_name,choice_description,item_price
2940,1169,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4080,1633,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1734,699,1,Side of Chips,NaN,$1.69
3987,1598,1,Chicken Burrito,"[Tomatillo Green Chili (Medium), [Lettuce, Bla...",$8.19
3266,1307,1,Chips and Guacamole,NaN,$3.99

In [390]:
# Let's count number of rows in the table.
rows_count, columns_count = dataframe.shape

row_count_describer = 'В таблице %d строк' % rows_count
row_count_describer

'В таблице 4622 строк'

In [391]:
# Let's display all table columns.
columns = dataframe.columns

columns.tolist()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

#### 2. [0.25 баллов] Ответьте на вопросы:
1. Сколько заказов попало в выборку?
2. Сколько уникальных категорий товара было куплено? (item_name)

In [392]:
# Let's count TOTAL number of non-NA orders (not distinct, probably with repetitions - distinct will be counted next).
total_order_ids_count = dataframe.count().order_id

total_order_ids_count_message = 'TOTAL number of non-NA orders in the table: %s' % total_order_ids_count
total_order_ids_count_message

'TOTAL number of non-NA orders in the table: 4622'

In [393]:
# Let's count number of distinct non-NA orders in the table.
# To do this we need to count the number of distinct non-NA 'order_id's in the dataframe.
distinct_order_ids_count = dataframe.order_id.dropna().unique().shape[0]

distinct_order_ids_count_message = 'Number of distinct orders in the table: %s' % distinct_order_ids_count
distinct_order_ids_count_message

'Number of distinct orders in the table: 1834'

In [394]:
# Let's count number of distinct non-NA categories in the table.
# To do this we need to count the number of distinct non-NA 'item_name's in the dataframe where quantity > 0.
# So, let's delete all rows where quantity not > 0, and analyse the resultive dataframe.
distinct_bought_categories_count = dataframe[dataframe.quantity > 0].item_name.dropna().unique().shape[0]

distinct_bought_categories_count_message = 'Number of distinct bought categories in the table: %s' % distinct_bought_categories_count
distinct_bought_categories_count_message

'Number of distinct bought categories in the table: 50'

#### 3. [0.25 баллов] Есть ли в данных пропуски? В каких колонках?

In [395]:
# Let's see which columns of the dataframe contain Na-values.
dataframe.isna().any()

order_id              False
quantity              False
item_name             False
choice_description     True
item_price            False
dtype: bool

As we can see only the 'choice_description' column contains Na-values.

Заполните пропуски пустой строкой для строковых колонок и нулём для числовых.

In [396]:
# Let's find out the type of the Na-containing column 'choice_description'
dataframe.dtypes.choice_description

dtype('O')

As we can see the 'choice_description' column is of type object - which is type string in Python.

This means we need to replace Na-values with empty strings.

In [397]:
# Replasing NA-values in 'choice_description' with empty strings.
dataframe.choice_description.fillna('', inplace=True)

In [398]:
# And finally let's check that it worked.
dataframe.isna().any()

order_id              False
quantity              False
item_name             False
choice_description    False
item_price            False
dtype: bool

Success! :)

#### 4. [0.5 баллов] Посмотрите внимательнее на колонку с ценой товара. Какого она типа? Создайте новую колонку так, чтобы в ней цена была числом.

Для этого попробуйте применить функцию-преобразование к каждой строке вашей таблицы (для этого есть соответствующая функция).

In [399]:
# Let's check type of the item_price column.
dataframe.dtypes.item_price

dtype('O')

As we can see the 'item_price' column is of type object - which is type string in Python. We also see that it's impossible to simply use astype(float), because we have a $-sign in the beginning of item_price. So let's remove it first and then convert.

In [400]:
# Let's create column 'item_price_float' with value from item_price for corresponding item and integer type.
dataframe = dataframe.assign(
    item_price_float=dataframe.item_price.replace(to_replace=r'^\$', value='', regex=True).astype(float))

dataframe.sample(5, random_state=1)

,order_id,quantity,item_name,choice_description,item_price,item_price_float
2940,1169,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75
4080,1633,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1734,699,1,Side of Chips,,$1.69,1.69
3987,1598,1,Chicken Burrito,"[Tomatillo Green Chili (Medium), [Lettuce, Bla...",$8.19,8.19
3266,1307,1,Chips and Guacamole,,$3.99,3.99

In [401]:
# Let's also check that we don't have Na-values in the dataframe.
dataframe.isna().any()

order_id              False
quantity              False
item_name             False
choice_description    False
item_price            False
item_price_float      False
dtype: bool

Какая средняя/минимальная/максимальная цена у товара?

As we don't have Na-values we don't have to worry about it.

In [402]:
min_item_price = dataframe.item_price_float.min()
max_item_price = dataframe.item_price_float.max()
mean_item_price = dataframe.item_price_float.mean()

result_message = 'Mean item price %f.\nMin item price %f.\nMax item price %f' % (
    mean_item_price, min_item_price, max_item_price)
print(result_message)

Mean item price 7.464336.
Min item price 1.090000.
Max item price 44.250000

Удалите старую колонку с ценой.

In [403]:
dataframe.drop('item_price', axis=1, inplace=True)

dataframe.sample(5, random_state=1)

,order_id,quantity,item_name,choice_description,item_price_float
2940,1169,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4080,1633,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1734,699,1,Side of Chips,,1.69
3987,1598,1,Chicken Burrito,"[Tomatillo Green Chili (Medium), [Lettuce, Bla...",8.19
3266,1307,1,Chips and Guacamole,,3.99

#### 5. [0.25 баллов] Какие 5 товаров были самыми дешёвыми и самыми дорогими? (по item_name)

Для этого будет удобно избавиться от дубликатов и отсортировать товары. Не забудьте про количество товара.

In [404]:
# Let's create dataframe with only item_name and item_price_float.
item_name_stats_dataframe = dataframe[dataframe.quantity > 0] \
        .assign(price_per_unit=dataframe.item_price_float / dataframe.quantity) \
        .drop(['order_id', 'quantity', 'choice_description', 'item_price_float'], axis=1) \
        .drop_duplicates() \

item_name_stats_dataframe.head()

                               item_name  price_per_unit
0           Chips and Fresh Tomato Salsa            2.39
1                                   Izze            3.39
2                       Nantucket Nectar            3.39
3  Chips and Tomatillo-Green Chili Salsa            2.39
4                           Chicken Bowl            8.49

In [405]:
# The cheapest units.
five_cheapest = item_name_stats_dataframe \
            .sort_values('price_per_unit') \
            .drop_duplicates(subset='item_name') \
            .head() \
            .item_name \
            .tolist()
print(five_cheapest)

['Canned Soda', 'Bottled Water', 'Canned Soft Drink', 'Side of Chips', 'Chips']

In [406]:
# The most expensive units.
five_most_expensive = item_name_stats_dataframe \
            .sort_values('price_per_unit', ascending=False) \
            .drop_duplicates(subset='item_name') \
            .head() \
            .item_name \
            .tolist()
print(five_most_expensive)

['Steak Salad Bowl', 'Barbacoa Salad Bowl', 'Carnitas Salad Bowl', 'Carnitas Burrito', 'Carnitas Crispy Tacos']

#### 6. [0.5 баллов] Сколько раз клиенты покупали больше 1 Chicken Bowl (item_name)?

In [407]:
answer = dataframe[(dataframe.quantity > 1) & (dataframe.item_name == 'Chicken Bowl')].shape[0]
answer_message = 'Clients bought more that one Chicken Bowl %d times.' % answer

answer_message

'Clients bought more that one Chicken Bowl 33 times.'

#### 7. [0.5 баллов] Какой средний чек у заказа? Сколько в среднем товаров покупают?

Если необходимо провести вычисления в терминах заказов, то будет удобно сгруппировать строки по заказам и посчитать необходимые статистики.

In [409]:
mean_bill = dataframe.groupby('order_id').item_price_float.sum().mean()

mean_bill_message = 'Mean bill total price is %f dollars.' % mean_bill
mean_bill_message

'Mean bill total price is 18.811429 dollars.'

In [410]:
mean_units_count = dataframe.groupby('order_id').quantity.sum().mean()

mean_units_count_message = 'Mean units count per order is %f units.' % mean_units_count
mean_units_count_message

'Mean units count per order is 2.711014 units.'

#### 8. [0.25 баллов] Сколько заказов содержали ровно 1 товар?

In [411]:
one_unit_orders_count = dataframe.groupby('order_id').quantity.sum().value_counts()[1]
one_unit_orders_count_messsage = '%d of orders consist of exactly one unit.' % one_unit_orders_count

one_unit_orders_count_messsage

'56 of orders consist of exactly one unit.'

#### 9. [0.25 баллов] Какая самая популярная категория товара?

In [412]:
most_popular_category = dataframe.groupby('item_name').quantity.sum().idxmax()
most_popular_category_message = 'Most popular category is a %s.' % most_popular_category

most_popular_category_message

'Most popular category is a Chicken Bowl.'

#### 10. [0.5 баллов] Какие виды Burrito существуют? Какой из них чаще всего покупают? Какой из них самый дорогой?

In [413]:
burrito_types = dataframe[dataframe.item_name.str.contains('Burrito')].item_name.unique().tolist()
message = 'Burrito types are :\n  - %s' % '\n  - '.join(burrito_types)

print(message)

Burrito types are :
  - Steak Burrito
  - Chicken Burrito
  - Barbacoa Burrito
  - Carnitas Burrito
  - Veggie Burrito
  - Burrito

In [414]:
most_common_burrito_type = dataframe[dataframe.item_name.str.contains('Burrito')] \
                                            .groupby('item_name').quantity.sum().idxmax()
most_common_burrito_type_message = 'Most common burrito type is %s.' % most_common_burrito_type
most_common_burrito_type_message

'Most common burrito type is Chicken Burrito.'

In [415]:
most_expensive_burrito_type = dataframe[dataframe.item_name.str.contains('Burrito')] \
                .assign(price_per_unit=dataframe.item_price_float / dataframe.quantity) \
                .sort_values('price_per_unit', ascending=False) \
                .iloc[0]['item_name']
most_expensive_burrito_type_message = 'Most expensive burrito type is %s.' % most_expensive_burrito_type
most_expensive_burrito_type_message

'Most expensive burrito type is Steak Burrito.'

#### 11. [0.75 баллов] В каком количестве заказов есть товар, который стоит более 40% от суммы всего чека?

Возможно, будет удобно посчитать отдельно среднюю стоимость заказа, добавить ее в исходные данные и сделать необходимые проверки.

*Данный комментарий стоит воспринимать как подсказку к одному из вариантов решений задания. Если в вашем варианте решения он не нужнен, это не страшно*

In [416]:
# Series containing order_id and corresponding the most expensive order unit.
max_unit_price_per_order_series = dataframe \
        .assign(price_per_unit=dataframe.item_price_float / dataframe.quantity) \
        .groupby('order_id') \
        .price_per_unit.max() \

max_unit_price_per_order_series.head(2)

order_id
1    3.39
2    8.49
Name: price_per_unit, dtype: float64

In [417]:
# Series containing order_id and corresponding bill.
order_bill_series = dataframe \
        .groupby('order_id') \
        .item_price_float.sum() \

order_bill_series.head(2)

order_id
1    11.56
2    16.98
Name: item_price_float, dtype: float64

In [418]:
# Merge 3 previous series my order_id.
order_id_stats_dataframe = pd.concat([order_bill_series, max_unit_price_per_order_series], axis=1)
order_id_stats_dataframe.rename(
    columns = {'item_price_float': 'total_price', 'price_per_unit': 'max_price_per_unit'}, inplace=True)

order_id_stats_dataframe.head(2)

          total_price  max_price_per_unit
order_id
1               11.56                3.39
2               16.98                8.49

In [419]:
# And finally count the result.
fourty_percent_expensive_unit_quantity = order_id_stats_dataframe[
    order_id_stats_dataframe.max_price_per_unit / order_id_stats_dataframe.total_price > 0.4].count().values[0]

answer = 'In %d orders there is a unit that costs more than 40 percent of the bill total.' % fourty_percent_expensive_unit_quantity
answer

'In 1589 orders there is a unit that costs more than 40 percent of the bill total.'

#### 12. [0.75 баллов] Предположим, что в данных была ошибка и Diet Coke (choice_description), который стоил $1.25, должен был стоить 1.35. Скорректируйте данные в таблицы и посчитайте, на какой процент больше денег было заработано с этого товара. Не забывайте, что количество товара не всегда равно 1.

In [424]:
# your code
diet_coke_dataframe = dataframe[
    (dataframe.choice_description.str.contains('Diet Coke')) \
    & (dataframe.item_price_float / dataframe.quantity == 1.25)
]

diet_coke_old_bill = diet_coke_dataframe.item_price_float.sum()
diet_coke_dataframe.loc[:, 'item_price_float'] *= (1.35 / 1.25)
diet_coke_new_bill = diet_coke_dataframe.item_price_float.sum()

percentage_diff = (diet_coke_new_bill / diet_coke_old_bill * 100) - 100

message = 'Company would have gained %f more money.' % percentage_diff
message

'Company would have gained 8.000000 more money.'

#### 13. [0.75 баллов] Создайте новый DateFrame из матрицы, созданной ниже. Назовите колонки index, column1, column2 и сделайте первую колонку индексом.

In [433]:
data = np.random.rand(10, 3)

new_dataframe = pd.DataFrame(data, columns=['index', 'column1', 'column2']).set_index('index')
new_dataframe

           column1   column2
index
0.194026  0.435493  0.642196
0.347735  0.597301  0.743585
0.613209  0.701836  0.113927
0.531891  0.878604  0.442714
0.286668  0.837180  0.580272
0.462041  0.250384  0.425689
0.599999  0.602708  0.425577
0.906834  0.082612  0.505653
0.394667  0.289271  0.743660
0.917987  0.489119  0.069674

Сохраните DataFrame на диск в формате csv без индексов и названий столбцов.

In [437]:
new_dataframe.to_csv('new_dataframe.csv', index=False, header=False)

In [438]:
new_dataframe = pd.read_csv('new_dataframe.csv')
new_dataframe

   0.43549276255952063  0.6421962357819844
0             0.597301            0.743585
1             0.701836            0.113927
2             0.878604            0.442714
3             0.837180            0.580272
4             0.250384            0.425689
5             0.602708            0.425577
6             0.082612            0.505653
7             0.289271            0.743660
8             0.489119            0.069674

## 2. Визуализации и matplotlib

При работе с данными часто неудобно делать какие-то выводы, если смотреть на таблицу и числа в частности, поэтому важно уметь визуализировать данные. В этом разделе мы этим и займёмся.

У matplotlib, конечно, же есть [документация](https://matplotlib.org/users/index.html) с большим количеством [примеров](https://matplotlib.org/examples/), но для начала достаточно знать про несколько основных типов графиков:
- plot — обычный поточечный график, которым можно изображать кривые или отдельные точки;
- hist — гистограмма, показывающая распределение некоторое величины;
- scatter — график, показывающий взаимосвязь двух величин;
- bar — столбцовый график, показывающий взаимосвязь количественной величины от категориальной.

В этом задании вы попробуете построить каждый из них. Не менее важно усвоить базовые принципы визуализаций:
- на графиках должны быть подписаны оси;
- у визуализации должно быть название;
- если изображено несколько графиков, то необходима поясняющая легенда;
- все линии на графиках должны быть чётко видны (нет похожих цветов или цветов, сливающихся с фоном);
- если отображена величина, имеющая очевидный диапазон значений (например, проценты могут быть от 0 до 100), то желательно масштабировать ось на весь диапазон значений (исключением является случай, когда вам необходимо показать малое отличие, которое незаметно в таких масштабах).
- сетка на графике помогает оценить значения в точках на глаз, это обычно полезно, поэтому лучше ее отрисовывать.

In [ ]:
%matplotlib inline  # нужно для отображения графиков внутри ноутбука
import matplotlib.pyplot as plt

На самом деле мы уже импортировали matplotlib внутри %pylab inline в начале задания.

Работать мы будем с той же выборкой покупкок. Добавим новую колонку с датой покупки.

In [ ]:
import datetime

start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2018, 1, 31)
delta_seconds = int((end - start).total_seconds())

dates = pd.DataFrame(index=df.order_id.unique())
dates['date'] = [
    (start + datetime.timedelta(seconds=random.randint(0, delta_seconds))).strftime('%Y-%m-%d')
    for _ in range(df.order_id.nunique())]

# если DataFrame с покупками из прошлого заказа называется не df, замените на ваше название ниже
df['date'] = df.order_id.map(dates['date'])

#### 1. [1 балл] Постройте гистограмму распределения сумм покупок и гистограмму средних цен отдельных видов продуктов item_name. 

Изображайте на двух соседних графиках. Для этого может быть полезен subplot.

In [ ]:
# your code

#### 2. [1 балл] Постройте график зависимости суммы покупок от дней.

In [ ]:
# your code

#### 3. [1 балл] Постройте средних сумм покупок по дням недели (bar plot).

In [ ]:
# your code

#### 4. [1 балл] Постройте график зависимости денег за товар от купленного количества (scatter plot).

In [ ]:
# your code

Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
# your code

Еще одна билиотека для визуализации: [seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html). Это настройка над matplotlib, иногда удобнее и красивее делать визуализации через неё.